body{
  background: #f1f1f1;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#about-us-banner{
  background-image: url("Assets/Images/e-Commerce-3-new.jpg");
}


#partner-banner{
  background-image: url("Assets/Images/partner.jpg");
}

@media (min-width: 720px) {
 .navbar-main{
    width: 100%;
 }
}

#banner-our-solutions {
  background-image: url("Assets/Images/banner-image-our-solutions-page.webp");
}

