body{
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

#about-us-banner{
  background-image: url("Assets/Images/e-Commerce-3-new.jpg");
}

#banner-our-solutions {
  background-image: url("Assets/Images/banner-image-our-solutions-page.webp");
}

